.footer {
  background: var(--navy-mid);
  border-top: 1px solid var(--border);
  margin-top: auto;
}

.footer-top { padding: 3rem 0 2rem; }

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr;
  gap: 2.5rem;
  align-items: start;
}

.footer-brand { display: flex; gap: 1rem; align-items: flex-start; }
.footer-emblem {
  /* width: 44px; height: 44px; */
  border-radius: 50%;
  background: var(--gold);
  color: var(--navy);
  font-size: 1.2rem;
  font-weight: 700;
  display: flex; align-items: center; justify-content: center;
  flex-shrink: 0;
}
.footer-emblem img{
  /* width: 78px; height: 78px; */
  width: 40px; height: 40px;
  border-radius: 50%;
  background: linear-gradient(135deg, var(--gold) 0%, #a37820 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  box-shadow: 0 0 40px rgba(201,151,42,0.5), 0 0 0 6px rgba(201,151,42,0.15);
}
.footer-name {
  font-family: 'Noto Serif Khmer', serif;
  font-size: 0.8rem;
  color: var(--text-muted);
  margin-bottom: 0.5rem;

 
}
.footer-name-km {
 font-weight: 900;
  font-size: 0.95rem;
  color: var(--gold-light);
  margin-bottom: 2px;
}
.footer-desc {
  font-size: 0.6rem;
  color: var(--text-dim);
  line-height: 1.6;
  max-width: 260px;
}

.footer-links h4,
.footer-contact h4 {
  font-size: 0.85rem;
  color: var(--gold);
  margin-bottom: 1rem;
  letter-spacing: 0.05em;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.footer-link {
  background: none;
  border: none;
  color: var(--text-muted);
  font-family: inherit;
  font-size: 0.8rem;
  text-align: left;
  cursor: pointer;
  padding: 0.25rem 0;
  transition: color var(--transition);
  width: fit-content;
}
.footer-link:hover { color: var(--gold-light); font-size: 0.81rem;}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-contact-item {
  font-size: 0.78rem;
  color: var(--text-muted);
  line-height: 1.5;
}


.school-management{
  justify-self: center;
   /* text-align: center; */

}
.school-management h4{
  text-align: center;
}
.footer-contact-members{
  display: flex;
  gap: 0.8rem;
  margin: 0.5rem 0;
}
.footer-contact-members p {
  font-size: 0.7rem;
  color: var(--gold-light);
}
/* Bottom bar */
.footer-bottom {
  border-top: 1px solid rgba(201,151,42,0.1);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}
.footer-bottom-inner {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.72rem;
  color: var(--text-dim);
}
.footer-km {
  font-family: 'Noto Serif Khmer', serif;
  font-size: 0.68rem;
}

@media (max-width: 768px) {
  .footer-grid { grid-template-columns: 1fr 1fr; }
  .footer-brand { grid-column: 1 / -1; }
}
@media (max-width: 480px) {
  .footer-grid { grid-template-columns: 1fr; }
  .footer-bottom-inner { flex-direction: column; text-align: center; }
}
